.maintitle {text-align: center}

.maintitle {
  font-family: 'Arial', sans-serif;}

.moveherassinthemiddle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

html {
background-color: #e1eef2;
}

.boobstest {
  width: 100;
  height: 100;
  border: 5px solid red;
  padding: 10px
  margin: 20px auto;

  background-color: grey;
}

<--! Girlfriend wanted her ass to be in the center, wtf why dis so hard-->
