.maintitle {text-align: center}

.maintitle {
  font-family: 'Arial', sans-serif;}

.moveherassinthemiddle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

html {
background-color: #e1eef2;
}

.containerz {
 width: 1182px;
 height: 50px;
 border: solid;
 padding: 23px;
 position: static;
}

<--! Girlfriend wanted her ass to be in the center, wtf why dis so hard-->
